<ion-view class=" " style="background-color: rgb(43, 93, 146);" id="page3" title="Save Location">
    <ion-content class="has-header" padding="true">
        <button class=" button button-royal  button-block icon ion-camera " style="font-size:18px;" id="saveLocation-button14" ></button>
        <div id="saveLocation-card21" class="list card " style="background-color='transparent'" ng-init = "show()">

            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
            </div>
        </div>
        <div class=" button-bar " id="saveLocation-button-bar3">
            <button class=" button button-royal  button-block icon ion-android-favorite " style="font-size:12px;" id="saveLocation-button8"></button>
            <button class=" button button-royal  button-block icon ion-share " style="font-size:12px;" id="saveLocation-button10"></button>
        </div>
    </ion-content>
</ion-view>
